<div class="table-responsive" style="padding: 26px;">
  <table class="table">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Tamaño</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Seguimiento y control Tutor<br></td>
      <td>pdf</td>
      <td>1.4 MB</td>
      <td>
        <div class="col-2 text-left"><button class="btn btn-secondary" type="button" style="width: 60%;">Descargar</button></div>
      </td>
    </tr>
    <tr>
      <td>Seguimiento y control Entidad</td>
      <td>pdf<br></td>
      <td>3.0 MB</td>
      <td>
        <div class="col-2 text-left"><button class="btn btn-secondary" type="button" style="width: 60%;">Descargar</button></div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
